@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
.App {
  text-align: center;
}
body{
  margin: 0;
  padding: 0;
}
.App-header {
  background-color: #2f3640;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* css for the Home page*/

.home_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.home_nav {
  width: 100vw;
  height: 15vh;
  display: flex;
}
.home_body {
  width: 100vw;
  height: 85vh;
  display: flex;
  font-family: 'Quicksand', sans-serif;
}

.home_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 80px 50px;
}
.home_text p {
padding: 10px 60px;
}

.title {
  font-size: 60px;
}
.home_text button{
  outline: none;
  border: none;
  background-color: #4cd137;
  margin: 10px 60px;
  width: 200px;
  height: 70px;
  color: #f5f6fa;
  border-radius: 5px;
  cursor: pointer;
}
.home_image img {
  width: 700px;
  margin: 20px 70px;
}
.nav_image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
}

.nav_image img {
  width: 100px;
}

.nav_menu {
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
  width: 80vw;
  align-items: center;
}

.nav_menu button {
  outline: none;
  border: none;
  background-color: #4cd137;
  margin: 10px;
  width: 100px;
  height: 50px;
  color: #f5f6fa;
  border-radius: 5px;
  cursor: pointer;
}


/* Login css */

.login form {
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  align-items: center;
  justify-content: center;
  
}

.login form p {
  margin: 20px;
}

.login form input {
  outline: none;
  border: none;
  margin: 10px;
  background-color: #353b488a;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  color: #f5f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.login form select {
  outline: none;
  border: none;
  margin: 10px;
  background-color: #353b488a;
  width: 330px;
  height: 50px;
  border-radius: 5px;
  color: #f5f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}
.login form select option {
  background-color: #1a3c868a;
}
.login form button {
  outline: none;
  border: none;
  width: 100px;
  height: 50px;
  background-color: #4cd137 ;
  color: #f5f6fa;
  border-radius: 5px;
  cursor: pointer;
}

/* Signup css */ 
.signup form {
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
  align-items: center;
  justify-content: center;
  
}

.signup form p {
  margin: 20px;
}

.signup form input {
  outline: none;
  border: none;
  margin: 10px;
  background-color: #353b488a;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  color: #f5f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.signup form button {
  outline: none;
  border: none;
  width: 100px;
  height: 50px;
  background-color: #4cd137 ;
  color: #f5f6fa;
  border-radius: 5px;
  cursor: pointer;
}

/* dashboard css */

.dashboardBody {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #2f3640;
  font-family: 'Quicksand', sans-serif;   
  overflow: hidden;
}

.dashboardMenu {
  background-color: #2f3640;
  width: 14vw;
  height: 100vh;  
}

.dashboard {
  background-color: #3e4855ea;
  width: 86vw;
  height: 100vh;
  
}
.productlistscroll {
  overflow: auto;
  max-height: 700px;
}
.logo {
  background-color: #3c4450;

}

.logo img {
  width: 100px;
}

.dashboardNav {
  width: 86vw;
  height: 107px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  background-color: #3e4855;
}

.dashboardNav p {
  margin-right: 100px;
  font-size: 25px;
}

.show {
  background-color: #353b48;
  height: 70px;
  display: flex;
  font-size: 22px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.name-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70px;
  width: 60px;
  margin-right: 10px;
}

.close {
  background-color: #2f3640;
  height: 70px;
  font-size: 22px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.logout {
  background-color: #353b48;
  height: 70px;
  display: flex;
  font-size: 22px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  background-color: #4cd137;  
}

.logout button {
  outline: none;
  border: none;
  width: 50%;
  height: 70px;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.newproduct {
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
}
.newproduct button{
  outline: none;
  border: none;
  width: 150px;
  height: 60px;
  margin-right: 100px;
  font-size: 17px;
  color: #f5f6fa;
  background-color: #4cd137;
  cursor: pointer;
}

.productPage {
  width: 80vw;
  height: auto;
  
}

.list {
  width: 75vw;
  height: 70px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  background-color: #353b48;
  border-radius: 10px;
  align-items: center ;
  font-size: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
 
/* 1st */
.productList {
  width: 25%; 
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.order-name {
  width: 25%; 
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

/* 2nd */
.price {
  width: 15%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.order-product-name {
  width: 25%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
/* 3rd */
.quantity {
  width: 15%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.order-product-quantity {
  width: 25%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

/* 4th */
.store {
  width: 15%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.availability{
  width: 15%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.availableIcon {
  width: 15%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  
}

.availableIcon p{
  padding: 5px 10px;
  border-radius: 10px;
  background-color:#4cd1374d ;
}

.unavailableIcon {
  width: 15%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.unavailableIcon p {
  padding: 5px 10px;
  border-radius: 10px;
  background-color:   #e8421850;
}
.action {
  width: 15%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.action button {
  outline: none;
  border: none;
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
}

.delete {
  background-color: #e8421848;
}

.edit {
  background-color: #00aaff59;
}
/* Modal */
.modal {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 20vh;
  margin-left: 35vw;
  z-index: 10;
  color: #f5f6fa;
  width: 500px;
  background-color: #2f3640;
  border-radius: 10px;
}
.modal-base {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: #2f3640;
  border-radius: 10px;
}

.modal-base button{
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  width: 40px;
  height: 40px;
  color: #f5f6fa;
  margin-bottom: 40px;
}
.content {
  height: auto;
  width: 500px;
}

/* dash nav */

.dash {
  display: flex;
  flex-direction: column;
}

.dash-nav-title {
  display: flex;
  flex-direction: row;
  padding-left: 10vw;
}

.dash-nav-title p {
  font-size: 40px;
  margin: 10px 5px 10px 30px;
  display: flex;
  align-items: flex-end;
}
.dash-nav-title h5{
  font-size: 20px;
  margin: 14px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.dash-nav {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dash-product {
  margin-left: 12vw;
  height: 18vh;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #00a8ff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.dash-order{
  margin-left: 3vw;
  height: 18vh;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #4cd137;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}

.dash-user {
  margin-left: 2vw;
  height: 18vh;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fbc531;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}

.dash-store {
  margin-left: 2vw;
  margin-right: 2vw;
  height: 18vh;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #e84118;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}

.dash-text {
  padding: 0px;
  margin: 0px;
  height: 18vh;
  width: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.dash-number {
  padding: 0;
  margin: 0;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;

}

.dash-info {
  padding: 0;
  margin: 0;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.dash-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150px;
  margin-left: 10px;
}

 /* Report  */

 .report {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5%;
  height: 50vh;
  width: 70vw;
 }

 .report-product {
  display: flex;
  height: 20vh;
  width: 30vw;
  margin: 5px;
  border-radius: 5px;
  background-color: #353b48;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
 }

 .report-text {
  height: 20vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .report-btn {
  height: 20vh;
  width: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 .report-btn button {
  outline: none;
  border: none;
  height: 40px;
  width: 80px;
  margin: 5px;
  cursor: pointer;
  color: #f5f6fa;
  background-color: #e84118;
 }

 /* profile */
 .profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
 }

 .profile-titile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
 }
 .profile-page {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 40%;
  padding: 10px;
  border-radius: 10px;
  background-color: #353b48;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;}

 .profile-firstname {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 20%;
  padding: 0px 20px;
 }

 .profile-lastname {
  display: flex;
  justify-content: flex-start;
  width:  90%;
  height: 20%;
  padding: 0px 20px;
 }

 .profile-email {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  height: 60%;
  padding: 0px 20px;
 }

 /* setting */
 /* profile */
 .setting {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
 }

 .setting-titile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
 }
 .setting-page {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 40%;
  padding: 10px;
  border-radius: 10px;
  background-color: #353b48;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;}

 .setting-firstname {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 20%;
  padding: 0px 20px;
 }

 .setting-firstname p{
  margin-right: 5px;
 }

 .setting-firstname input {
  width: 30%;
  height: 50px;
  outline: none;
  border: none;
  margin: 10px;
  background-color: #2f3640;
  border-radius: 5px;
  color: #f5f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
 }

 .setting-lastname {
  display: flex;
  justify-content: flex-start;
  width:  90%;
  height: 20%;
  padding: 0px 20px;
 }

 .setting-lastname input {
  width: 30%;
  height: 50px;
  outline: none;
  border: none;
  margin: 10px;
  background-color: #2f3640;
  border-radius: 5px;
  color: #f5f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
 }
 .setting-lastname p{
  margin-right: 5px;
 }

 .setting-email {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  height: 30%;
  padding: 0px 20px;
  margin-top: 20px;
 }

 .setting-email input {
  width: 30%;
  height: 50px;
  outline: none;
  border: none;
  margin: 10px;
  background-color: #2f3640;
  border-radius: 5px;
  color: #f5f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
 }
 .setting-email p{
  margin-right: 75px;
 }

 .update {
  outline: none;
  border: none;
  width: 100px;
  height: 50px;
  background-color: #4cd137 ;
  color: #f5f6fa;
  border-radius: 5px;
  cursor: pointer;
 }