@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
.App {
  text-align: center;
}
body{
  margin: 0;
  padding: 0;
}
.App-header {
  background-color: #2f3640;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* css for the Home page*/

.home_container {
  display: flex;
  flex-direction: column;
}

.home_nav {
  width: 100vw;
  height: 15vh;
  display: flex;
}
.home_body {
  width: 100vw;
  height: 85vh;
  display: flex;
  font-family: 'Quicksand', sans-serif;
}

.home_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 80px 50px;
}
.home_text p {
padding: 10px 60px;
}

.title {
  font-size: 60px;
}
.home_text button{
  outline: none;
  border: none;
  background-color: #4cd137;
  margin: 10px 60px;
  width: 200px;
  height: 70px;
  color: #f5f6fa;
  border-radius: 5px;
  cursor: pointer;
}
.home_image img {
  width: 700px;
  margin: 20px 70px;
}
.nav_image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
}

.nav_image img {
  width: 100px;
}

.nav_menu {
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
  width: 80vw;
  align-items: center;
}

.nav_menu button {
  outline: none;
  border: none;
  background-color: #4cd137;
  margin: 10px;
  width: 100px;
  height: 50px;
  color: #f5f6fa;
  border-radius: 5px;
  cursor: pointer;
}
